.idea
__pycache__
todo_list.txt

env/__pycache__
*_tensorboard

sandbox.py

simple_nn/.pytest_cache
simple_nn/__pycache__
simple_nn/bckp_tblogs
simple_nn/tb_logs
simple_nn/notes.xlsx
simple_nn/experiments/*